/* general styles */ 

p, a, h1 {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: 800;
}

img {
  max-width: 100%;
  height: auto;
}

/* styling home */

.tekst-over-mij3 {
  margin-bottom: 30px;
}
.totale-wrapper {
  display: flex;
  gap: 10%;
}
.leeftijd {
  color:white;
  font-weight: 800;
  background: rgb(64, 118, 212);
  padding: 4px;
  border-radius: 8px;
}
span {
  color:white;
  font-weight: 800;
  background: rgb(64, 118, 212);
  padding: 6px 9px;
  border-radius: 10px 2px;
  margin-right: 5px;
}
.css-percentage {
  padding: 6px 21px;
  border-radius: 2px 10px;
}
.js-percentage {
  padding: 6px 10px;
  border-radius: 2px 10px;
}
.html-percentage {
  padding: 6px 15px;
  border-radius: 2px 10px;
}
.profielfoto {
  border-radius: 100%;
  object-fit: cover;
  width: 35%;
  height: 100%;
  border: rgb(64, 118, 212) solid 3px;
  box-shadow: 0px 0px 10px rgb(64, 118, 212);
}

.profielfoto:hover {
  transform: rotate3d(0, 1, 0, 1600deg);
  transition: ease-in-out, 20s;
}
.button-blue {
  padding: 15px 16%;
  height: 30px;
  color: white;
  background: rgb(64, 118, 212);
  border: none;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 800;
}
.button-blue:hover {
  background-color: rgb(64, 118, 212);
  color: white;
  box-shadow: rgb(64, 118, 212) 0px 7px 29px 0px;
}
.button-blue:active {
  transform: translateY(10px);
  transition: 100ms;
  background-color: rgb(64, 118, 212);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(64, 118, 212) 0px 0px 0px 0px;
}

.wrapper-center {
  width:90%;
  height: auto;
  margin-left: 100px;
  background: #f2f2f6;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
  text-align: center;
  box-shadow: 2px 3px 10px rgb(64, 118, 212);
}

.wrapper-left {
  width:40%;
  height: auto;
  margin-left: 20px;
  background: #f2f2f6;
  border-radius: 25px;
  text-align: left;
  box-shadow: 2px 3px 10px rgb(61, 61, 61);
}

.wrapper-rechts {
  width: 30%;
  margin-right:10%;
}

.wrapper-tekst-knop {
  padding:20px;
}

.links-text {
  margin-left: 20px;
  display: inline-block;
}
.p-zin {
  font-size: 0.7rem;
}

#hidden-html {
  display: none;
}
#hidden-css {
  display: none;
}
#hidden-js {
  display: none;
}
.small {
  font-size: 0.6rem;
  margin-bottom: -5px;
}

/* styling portfolio */


.portfolio-wrapper {
  display: grid;
  grid-template-columns: .6fr 1fr;
  justify-content: space-around;
  gap: 0px;
  padding: 0px 100px;
  align-items:center;
  max-width: 1200px;
  margin: 0 auto
}

.portfolio-image {
  width: 100%;
  height:100%;
  max-height: 540px;
  max-width: 800px;
}

.pill {
  color:white;
  font-size: 0.7rem;
  font-weight: 800;
  background: rgb(64, 118, 212);
  padding: 6px 9px;
  border-radius: 10px;
  margin-right: 10px;
  width: 30%;
  text-align:center;
  display: inline-block;
  text-decoration: none;
}

.opdracht1 {
  background-color: rgb(64, 118, 212);
}

.opdracht1:hover {
  background-color: rgb(65, 108, 181);
  color: white;
  box-shadow: rgb(64, 118, 212) 0px 0px 10px 0px;
}

.opdracht2 {
  background-color: rgb(49, 0, 164);
}

.opdracht2:hover {
  background-color: rgb(49, 0, 164);
  color: white;
  box-shadow: rgb(49, 0, 164) 0px 0px 10px 0px;
}

.center-h1 {
  text-align: center;
  font-size: 4rem;

}

.company-img {
  width:150px;
  height:auto;
}

.list-icons {
  padding:0;
  list-style:none;
}

.portfolio-left {
  width: 100%;
}

@media (max-width: 768px) {
  .portfolio-wrapper {
    grid-template-columns: 1fr;
    padding: 0px 20px
  }

  .portfolio-left {
    width: 100%;
  }

  .portfolio-image {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 678px) {
.profielfoto {
  width: 15%;
}
}